<div class="card mb-3 rounded {% if isDarkMode %}dark-mode{% endif %}">
  <div class="row g-0">
    <div class="col-sm-6 col-md-4">
      <img src="{{ site.baseurl }}/{{ include.page.image }}" height="225px" class="rounded-start">
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="card-body {% if isDarkMode %}dark-mode{% endif %}">
        <h5 class="card-title {% if isDarkMode %}text-white{% endif %}">
          {{ include.page.title }}
          <small class="text-muted float-end">{{ include.page.date }}</small>
        </h5>
        <p class="card-text {% if isDarkMode %}text-white{% endif %}">{{ include.page.summary }}</p>
        <p>
          {% for label in include.page.labels %}
          <span style="background-color: var(--tf-pill-bg)" class="badge rounded-pill">{{
            label }}</span>
          {% endfor %}
        </p>
        {% if page.projecturl %}
        <a href="{{ page.projecturl }}" class="btn btn-outline-dark">Project Site</a>
        {% else %}
        <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn btn-outline-dark">Read More</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  const body = document.body;
  const isDarkMode = localStorage.getItem('darkMode') === 'true';

  // Update dark mode state when toggled
  document.getElementById('darkModeToggle').addEventListener('click', () => {
    body.classList.toggle('dark-mode');
    const isDarkMode = body.classList.contains('dark-mode');
    localStorage.setItem('darkMode', isDarkMode);
  });

  // Check for user preference
  if (isDarkMode) {
    body.classList.add('dark-mode');
  }
</script>
