<header class="navbar navbar-expand navbar-light bg-light bg-gradient border-bottom" id="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.data.bio.basics.name }}</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
        <a class="nav-link" href="{{ '/#essays' | prepend: site.baseurl }}">Essays</a>
        <a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a>
        <button id="darkModeToggle" class="btn btn-outline-dark">Dark Mode</button>
      </ul>
    </div>
  </div>
</header>

<script>
    const darkModeToggle = document.getElementById('darkModeToggle');
    const body = document.body;
    const header = document.getElementById('header'); // Get the header element

    darkModeToggle.addEventListener('click', () => {
        console.log('Dark mode button clicked');
        body.classList.toggle('dark-mode');
        header.classList.toggle('dark-mode');

        // Change the button content based on dark mode state
        const isDarkMode = body.classList.contains('dark-mode');
        if (isDarkMode) {
            darkModeToggle.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16"><path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/></svg>';
        } else {
            darkModeToggle.innerHTML = 'Dark Mode';
        }

        // Save user preference
        localStorage.setItem('darkMode', isDarkMode);
    });

    // Check for user preference
    const isDarkMode = localStorage.getItem('darkMode') === 'true';
    console.log('Is dark mode:', isDarkMode);
    if (isDarkMode) {
        body.classList.add('dark-mode');
        header.classList.add('dark-mode');
        essayCard.classList.add('dark-mode'); // Add the dark-mode class to the essay-card element
        darkModeToggle.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16"><path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/></svg>';
    }
</script>


