<header class="navbar navbar-expand navbar-light bg-light bg-gradient border-bottom" id="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.data.bio.basics.name }}</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
        <a class="nav-link" href="{{ '/#essays' | prepend: site.baseurl }}">Essays</a>
        <a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a>
        <button id="darkModeToggle" class="btn btn-outline-dark">Dark Mode</button>
      </ul>
    </div>
  </div>
</header>

<script>
    const darkModeToggle = document.getElementById('darkModeToggle');
    const body = document.body;
    const header = document.getElementById('header'); // Get the header element

    darkModeToggle.addEventListener('click', () => {
        console.log('Dark mode button clicked');
        body.classList.toggle('dark-mode');
        header.classList.toggle('dark-mode');

        // Change the button content based on dark mode state
        const isDarkMode = body.classList.contains('dark-mode');
        if (isDarkMode) {
            darkModeToggle.innerHTML = '<i class="bi bi-moon-fill"></i>';
        } else {
            darkModeToggle.textContent = 'Dark Mode';
        }

        // Save user preference
        localStorage.setItem('darkMode', isDarkMode);
    });

    // Check for user preference
    const isDarkMode = localStorage.getItem('darkMode') === 'true';
    console.log('Is dark mode:', isDarkMode);
    if (isDarkMode) {
        body.classList.add('dark-mode');
        header.classList.add('dark-mode');
        darkModeToggle.innerHTML = '<i class="bi bi-moon-fill"></i>';
    }
</script>
