/* Skyblue Theme: modifies the default theme to use blue in various places. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-blue1: #076db3;
  --tf-blue2: #1b6fa9;
  --tf-blue3: #2f8ed0;
  --tf-blue4: #bde3f0;
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--tf-blue1);
  --tf-pill-bg: var(--tf-blue3);
  --tf-icon-fill: var(--tf-blue1);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--tf-blue4);
  --tf-projects-bg-color: var(--tf-blue4);
}

h1,h2,h3,h4,h5 {
  color: var(--tf-blue1);
  font-family: Rubik;
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-blue1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
}

a {
  text-decoration: none;
}

.rounded-circle {
  border-color: var(--tf-blue1);
  border-style: solid;
  border-width: 2px;
}

.navbar-light {
  --bs-navbar-color: var(--tfblue4)
  
}



/* Styles specific to dark mode */
body.dark-mode {
  color: #ffffff; /* Dark mode text color */
  font-family: "Ubuntu Mono", sans-serif;
}

body.dark-mode .navbar {
  background-color: #222222; /* Dark mode navbar background color */
  font-family: "Ubuntu Mono", sans-serif;
}

/* Override color palette for dark mode */
body.dark-mode {
  --tf-blue1: #222222; /* Darkest gray */
  --tf-blue2: #076db3; /* Darker gray */
  --tf-blue3: #555555; /* Dark gray */
  --tf-blue4: #777777; /* Medium dark gray */
  --bs-font-sans-serif: "Ubuntu Mono", sans-serif; /* NOT REALLY SANS SERIF*/
  --bs-link-color: var(--tf-blue2);
  --tf-pill-bg: var(--tf-blue2);
  --tf-icon-fill: var(--bs-white);
  --tf-page-bg-color: var(--tf-blue1);
  --tf-footer-bg-color: var(--tf-blue4);
  --tf-projects-bg-color: var(--tf-blue4);
}

/* Styles for the header in dark mode */
.dark-mode #header {
  background-color: #333333; /* Dark mode background color */
  color: #aa80ff; /* Dark mode text color */
  font-family: "Ubuntu Mono", sans-serif;
}

/* Customize other styles as needed */
.dark-mode #header .navbar-brand,
.dark-mode #header .nav-link {
  color: #aa80ff; /* Dark mode text color for brand and links */
  font-family: "Ubuntu Mono", sans-serif;
}

/* Styles for headings in dark mode */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5 {
  color: #80ff80; /* Green text color in dark mode */
  font-family: "Ubuntu Mono", sans-serif; /* Specify the font family */
}

.dark-mode .card {
    background-color: #212529; /* Dark background color for cards in dark mode */
}

/* Styles for buttons in dark mode */
.dark-mode .btn,
.dark-mode .btn-outline-dark {
    color: #ffffff; /* Text color for buttons in dark mode */
    background-color: #212529; /* Background color for buttons in dark mode */
    border-color: #ffffff; /* Border color for buttons in dark mode */
}

.dark-mode .btn:hover,
.dark-mode .btn-outline-dark:hover {
    color: #ffffff; /* Text color for buttons on hover in dark mode */
    background-color: #343a40; /* Background color for buttons on hover in dark mode */
    border-color: #ffffff; /* Border color for buttons on hover in dark mode */
}

/* Styles for icons in dark mode */
.dark-mode .social-icon {
  fill: #ffffff; /* White color for social icons in dark mode */
}


/* Rainbow RGB name */
#name {
    font-size: 72px;
    background: linear-gradient(45deg,#FF0000,#FF7F00,#FFFF00,#00FF00,#0000FF,#4B0082,#8B00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: rainbowanim 10s ease infinite;
       -moz-animation: rainbowanim 10s ease infinite;
            animation: rainbowanim 10s ease infinite;
}

@-webkit-keyframes rainbowanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes rainbowanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes rainbowanim { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
